<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nowrouz</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="site-container">

    <div class="card">
      <p class ="card-header"><strong>Happy, Nowrouz, Iranian new year</strong>.</p>
      <a class = "link" href="http://localhost:7000/subview/">Nowrouz, starting spring and happiness of humans</a>
      <p class="card-footer">Created by Sahar Nosrati</p>
    </div>
  
  </div>

  <script src="../server.js"></script>
</body>
</html>