<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equinox-Nowrouz-Haft-sin</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="cta">
        <img src="/img/Earth-orbit-Sun.webp" alt="Earth-orbit-Sun" />
        <div class="text">
          <h2>Equinox</h2>
          <p>
            equinox, either of the two moments in the year when the Sun is
            exactly above the Equator and day and night are of equal length;
            also, either of the two points in the sky where the ecliptic (the
            Sun’s annual pathway) and the celestial equator intersect.
            <a class="link" href="/spring-equinox">Continue</a>
          </p>
        </div>
      </div>

      <div class="cta">
        <img src="/img/Nowrouz.jpg" alt="Nowrouz" />
        <div class="text">
          <h2>Nowrouz</h2>
          <p>
            The first day of Farvardinthe the first month of Iranian calendar
            falls on the March equinox, the first day of spring, around 21
            March. The Iranian calendar was reformed by Omar Khayyam in order to
            fix the beginning of the calendar year, Nowruz, at the vernal
            equinox. The definition of Nowruz given by the Iranian astronomer
            Tusi means "the first day of the official New Year.
            <a class="link" href="/Nowrouz">Continue</a>
          </p>
        </div>
      </div>

      <div class="cta">
        <img src="/img/Haft-sin_1.jpg" alt="Haft-sin" />
        <div class="text">
          <h2>The Title</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
            accusamus temporibus voluptates exercitationem, ipsa officiis a
            animi esse explicabo repudiandae in, blanditiis cum quam magni?
            Voluptates illum earum praesentium veniam.<a
              class="link"
              href="/haftsin"
              >Continue</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
