<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/second_pages/spring-equinox.css" />
    <title>Equinox</title>
  </head>
  <body>
    <h1 class="title"> Equinox: The Perfect Balance of Day and Night</h1>
    <div class="img-text">
      <div class = "image">
          <img
            class="image"
            src="/img/North_season.jpg"
            alt="Equinox"
          />
      </div>
  <div class = "text">
    <p>
      The equinox is a celestial moment when day and night are nearly equal in length worldwide. It happens twice a year—around March 20–21 (spring) and September 22–23 (autumn)—marking seasonal change across the globe.

      This balance occurs as the Sun crosses the celestial equator, offering a moment of harmony between light and dark. The word equinox comes from Latin: aequus (equal) and nox (night).
      
      🌸 In spring, cultures celebrate renewal and rebirth, most notably during <a class = "Nowrouzlink" href="/Nowrouz">Nowruz</a>, the Iranian New Year, a 3,000-year-old tradition symbolizing hope and new beginnings.
      
      🍁 In autumn, equinoxes are honored through harvest festivals like China’s Mid-Autumn Festival and the pagan Mabon.
      
      From ancient monuments like Stonehenge to modern observatories, the equinox continues to inspire awe, reminding us of nature’s rhythm and our connection to the cosmos.  
      </p>
  </div>
    </div>
  </body>
</html>
