body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-items: center;
  background-image: url("/img/pictures/sib-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  backdrop-filter: blur(10px);
}
.pic-explanation{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.title{
  text-align:center;
  margin-top: 25px;
}
.description {
  color: #076b27;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  margin-left: 200px;
  text-wrap:pretty; 
  margin-bottom: 150px;
}
.hyperlink{
  text-decoration: none;
  color: aquamarine;
}

.gallery {
  --s: 150px; /* control the size */
  --g: 10px;  /* control the gap */
  display: grid;
  margin: calc(var(--s) + var(--g));
  margin-bottom: 100px;
}

.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%,75% 100%,25% 100%,0 50%);
  transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
  filter: grayscale(80%);
  transition: .2s linear;
}
.gallery > img:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.gallery > img:nth-child(1) {--_y: calc(-100% - var(--g))}
.gallery > img:nth-child(7) {--_y: calc( 100% + var(--g))}
.gallery > img:nth-child(3),
.gallery > img:nth-child(5) {--_x: calc(-75% - .87*var(--g))}
.gallery > img:nth-child(4),
.gallery > img:nth-child(6) {--_x: calc( 75% + .87*var(--g))}
.gallery > img:nth-child(3),
.gallery > img:nth-child(4) {--_y: calc(-50% - .5*var(--g))}
.gallery > img:nth-child(5), 
.gallery > img:nth-child(6) {--_y: calc( 50% + .5*var(--g))}